<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading section-heading-about">About</h2>
                <!-- <hr class="light"> -->
                <p>Five Strong is a non-profit organization that informs and inspires Columbus Ohio's next generate of community leaders to become active and involved in the community.  We are passionate about accelerating the involvement of young professionals in local understanding, goodwill, and peace through the improvement of health, the support of education, and the alleviation of poverty.</p>
                <!-- The name Dittoh doesn’t refer to a specific out-of-the-box solution, but rather it refers to the company’s goal of repeatable success. Dittoh is unique because it cuts the layers of overhead and empty rhetoric that plague the technology industry by simplifying the process and singularly focusing on building a creative solution that solves real business problems. -->
                <a href="#contact" class="page-scroll btn btn-default btn-xl btn-bg-primary">Get Started</a>
            </div>
        </div>
    </div>
</section>
