<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Your Favorite Source of Free Bootstrap Themes</h1> -->
            <%= image_tag "five_strong_logo.jpg", class: "img-responsive five_strong_logo", alt: "" %>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
