<section class="portfolio" id="portfolio">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading section-heading-about">Who We've Helped</h2>
              <p>In 2016, a portion of the proceeds raised at Columbus Derby Day benefited Goodwill Columbus and we were overjoyed to present a $22,000 check to the organization in July.</p>
              <p>One event that Goodwill sponsors is the Special Skills Football Invitational. This event is held on the Ohio State University's campus and is attended by differently-abled athletes throughout the region. Over the summer, our Foundation was proud to volunteer our time at this event it was fulfilling to see how programs like this are so beneficial to the participants. Additionally, a portion of the money that was raised by the 2016 Columbus Derby Day was used to help send Goodwill's Special Olympic softball team to the Michigan Fall State Games. This is a historical event as they are the first out-of-state team selected to participate in these games and they even won the tournament! We are proud that through the donations from the 2016 Columbus Derby Day, we were able to make that happen and are looking forward to assisting other events both through Goodwill and other charities in the future.</p>
          </div>
      </div>
  </div>
</section>
