<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading section-heading-services">Services</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code sr-icons text-primary"></i>
                    <h3>Software Development</h3>
                    <p>Build applications with Ruby on Rails, PostgreSQL & Heroku</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud sr-icons text-primary" data-wow-delay=".1s"></i>
                    <h3>Salesforce Implementation</h3>
                    <p>Implement and customize Salesforce Sales and Service Cloud platforms.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop sr-icons text-primary" data-wow-delay=".2s"></i>
                    <h3>Website Design</h3>
                    <p class="text-muted">Create custom websites and to take your online presence to the next level.</p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
